################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/.vs/ConsoleApp/v16
/.vs/Practice/v16
/.vs
/ConsoleApp/obj
/ConsoleApp2/bin/Debug/net5.0
/ConsoleApp2/obj
